<!--Home page after login-->

<html>
	<head>
		<meta charset="UTF-8">
		<title> Index </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">						
	</head>
	<body></br></br></br></br></br>
		<!-- Logged In As/Logout Button Banner -->
		<div style="width:900px; margin:0 auto; text-align:right;">
			<table id="logged-in-table" class="table">
			   <thead class="thead-light">
				  <tr>
					 <td>
						<h4 class="h4" style="text-align:left">Welcome {{session.username}}!</h4>
					 </td>
					 <td>
						<form id="logout-form" action="#">
						   <input id="logout-button" type="submit" class="btn btn-danger" value="Logout" />
						</form>
					 </td>
				  </tr>
			   </thead>
			</table>
		 </div>

		  <!-- Table for displaying Home page -->
		  <div id="displayHome">
			<div style="width:900px; margin:0 auto;">
			   <h2 class="h2">Home</h2>
			   <h3>Your current modules:</h3>
				<!-- Link to module display table -->
				<button onclick="showModDisplay()" type="button" class="btn btn-success">All Modules</button>
				<table id="enrolledTable" class="table table-dark">
					<thead class="thead-dark">
					   <tr>
						  <th scope="col">Module Code</th>
						  <th scope="col">Module Name</th>
						  <th scope="col">Location</th>
						  <th scope="col">Credits</th>
						  <th scope="col">Unenroll</th>
					   </tr>
					</thead>
				 </table>
			</div>
		 </div>
		

		   <!-- Table for displaying module data -->
		   <div id="displayMod" style="display:none">
			<div style="width:900px; margin:0 auto;">
			   <h2 class="h2">Modules</h2>
			   <button onclick="showHome()" type="button" class="btn btn-primary">Home</button>
			   <button onclick="showModCreate()" type="button" class="btn btn-success">Add New Module</button>
			   <table id="modTable" class="table table-dark">
				  <thead class="thead-dark">
					 <tr>
						<th scope="col">Module Code</th>
						<th scope="col">Module Name</th>
						<th scope="col">Location</th>
						<th scope="col">Credits</th>
						<th scope="col">Update</th>
						<th scope="col">Delete</th>
						<th scope="col">Enroll</th>
					 </tr>
				  </thead>
			   </table>
			</div>
		 </div>

		  <!-- Form for creating new and updating existing module data -->
		  <div id="createUpdateMod" style="display:none">
			<div style="width:900px; margin:0 auto;">
			   <h2 id="titleCreateMod" class="h2">Create Module</h2>
			   <h2 id="titleUpdateMod" class="h2">Update Module</h2>
			   <button onclick="showHome()" type="button" class="btn btn-primary">Home</button>
			   <button onclick="showModDisplay()" type="button" class="btn btn-success">All Modules</button>
			   <table id="createUpdateModForm" class="table table-dark">
				  <thead class="thead-dark">
					 <tr>
						<th scope="col">Details</th>
						<th scope="col">Module Input</th>
					 </tr>
				  </thead>
				  <tr>
					 <th scope="col">ModID</th>
					 <td><input type="text" class="form-control" name="moduleCode" placeholder="enter module code" required></td>
				  </tr>
				  <tr>
					 <th scope="col">Name</th>
					 <td><input type="text" class="form-control" name="moduleName" placeholder="enter module name" required></td>
				  </tr>
				  <tr>
					 <th scope="col">Location</th>
					 <td><input type="text" class="form-control" name="location" placeholder="enter location" required></td>
				  </tr>
				  <tr>
					 <th scope="col">Credits</th>
					 <td><input type="number" class="form-control" name="credits" placeholder="enter credits" required></td>
				  </tr>
				  <tr>
					 <td></td>
					 <td>
						<button id="createMod" onclick="doCreateMod()" type="button" class="btn btn-success">Create</button>
						<button id="updateMod" onclick="doUpdateMod()"type="button" class="btn btn-info">Update</button>
					 </td>
				  </tr>
			   </table>
			</div>
		 </div>
	  
		 <script>

			logoutForm = document.getElementById("logout-form");
			host = window.location.origin
			logoutForm.action = host + "/logout";
	  
			function showModDisplay() {
			   document.getElementById('displayHome').style.display = "none"
			   document.getElementById('displayMod').style.display = "block"
			   document.getElementById('createUpdateMod').style.display = "none"
			   
			}

			function showModCreate(){
				
        		clearModForm()

        		document.getElementById('displayHome').style.display = "none"
        		document.getElementById('displayMod').style.display = "none"
        		document.getElementById('createUpdateMod').style.display = "block"
        		// title
        		document.getElementById('titleCreateMod').style.display = "block"
        		document.getElementById('titleUpdateMod').style.display = "none"
        		// buttons
        		document.getElementById('createMod').style.display = "block"
        		document.getElementById('updateMod').style.display = "none"

				console.log("complete showModCreate()")
      		}
// for updating 1
			function showModUpdate(thisElem) {
				console.log("in showModUpdate")
        		var rowElement = thisElem.parentNode.parentNode;
				console.log(rowElement)
        		var module = readModFromRow(rowElement)
        		populateModForm(module)		
        		document.getElementById('displayHome').style.display = "none"
        		document.getElementById('displayMod').style.display = "none"
        		document.getElementById('createUpdateMod').style.display = "block"
        		
        		// title
        		document.getElementById('titleCreateMod').style.display = "none"
        		document.getElementById('titleUpdateMod').style.display = "block"
        		// buttons
        		document.getElementById('createMod').style.display = "none"
        		document.getElementById('updateMod').style.display = "block"
            }
// for updating 2
			function readModFromRow(rowElement) {
         		var mod = {}
				console.log("readModFromRow")
         		// modCode is mod table row id
         		mod.moduleCode = rowElement.getAttribute("id");
				mod.moduleCode = rowElement.cells[0].firstChild.textContent
         		mod.moduleName = rowElement.cells[1].firstChild.textContent
         		mod.location = rowElement.cells[2].firstChild.textContent
         		mod.credits = rowElement.cells[3].firstChild.textContent
				console.log("readModFromRow ", mod)
         		return mod
      		}
// for updating 3
            function populateModForm(mod) {
         		var form = document.getElementById('createUpdateModForm')
         		form.querySelector('input[name="moduleCode"]').value = mod.moduleCode
         		form.querySelector('input[name="moduleCode"]').disabled = true

         		form.querySelector('input[name="moduleName"]').value = mod.moduleName
         		form.querySelector('input[name="location"]').value = mod.location
         		form.querySelector('input[name="credits"]').value = mod.credits
      		}

			function clearModForm() {
				console.log("in clearModForm()")
        		var form = document.getElementById('createUpdateModForm')
        		form.querySelector('input[name="moduleCode"]').value = ''
        		form.querySelector('input[name="moduleCode"]').disabled = false		
        		form.querySelector('input[name="moduleName"]').value = ''
        		form.querySelector('input[name="location"]').value = ''
        		form.querySelector('input[name="credits"]').value = ''
				console.log("in form cleared")
        	}
// for updating 4
        	function doUpdateMod() {
        	var module = getModFromForm()
        	if (validateModForm(module) == 1) {
        	   updateModServer(module)         
        	   }
        	}
// updating DB
			function updateModServer(module) {
				console.log("in updateModServer", module.moduleCode)
				console.log(JSON.stringify(module))
        		// ajax updateMod
        		host = window.location.origin
        		$.ajax({
        		   url: host + "/modules/" + module.moduleCode,
        		   data: JSON.stringify(module),
        		   method: "PUT",
        		   dataType: "JSON",
        		   contentType: "application/json; charset=utf-8",
        		   success: function (result) {
        		      console.log(result)
        		      updateModTableRow(module)
        		      showModDisplay()
        		      clearModForm()
        		   },
        		   error: function (xhr, status, error) {
        		      console.log("error" + error)
        		   }
        		})
      		}
// updating table on the page
			function updateModTableRow(module) {
				var rowElement = document.getElementById(module.moduleCode)
				rowElement.cells[0].firstChild.textContent = module.moduleCode
        		rowElement.cells[1].firstChild.textContent = module.moduleName
        		rowElement.cells[2].firstChild.textContent = module.location
        		rowElement.cells[3].firstChild.textContent = module.credits
        		console.log("updateModTableRow")
      		}
// creating new module in DB
      		function doCreateMod() {
                var module = getModFromForm()
                //console.log("doCreateMod is ", module)
                console.log(JSON.stringify(module))
                if (validateModForm(module) == 1) {
                   // ajax createMod
                   host = window.location.origin
                   $.ajax({
                      url: host + '/modules',
                      data: JSON.stringify(module),
                      method: 'POST',
                      datatype: 'JSON',
                      contentType: "application/json; charset=utf-8",
                      success: function () {
						 console.log("Module " +module.moduleCode + " created")
                         //module.moduleCode = result.moduleCode
                         addModtoTable(module)
                         showModDisplay()
                         clearModForm()
                      },
                      error: function (xhr, status, error) {
                         console.log("error " + error)
                      }
                   })
                }       
            }
// deleting module from DB
			function doModDelete(thisElem){
        		var tableElement = document.getElementById('modTable');
        		var rowElement = thisElem.parentNode.parentNode;
        		var index = rowElement.rowIndex;
				var mod = rowElement.getAttribute("id");
				console.log('ModuleCode ', mod)
        		// ajax deleteMod
        		host = window.location.origin
        		$.ajax({
        		   url: host + "/modules/"+mod,
        		   method:"DELETE",
        		   dateType:"JSON",
        		   success:function(result){
        		      console.log(result)
        		      if (result.done == false){
        		         alert("WARNING: Cannot delete module with associated student!")
        		      } else {
        		         tableElement.deleteRow(index);
        		         console.log("Module " + mod + " deleted")
        		      }
        		   },
        		   error:function(xhr,status,error){
        		      console.log(error)
        		   }
        		})
      		}
// Creating entry in enrolment table in DB
			function doEnroll(thisElem){
        		var tableElement = document.getElementById('modTable');
        		var rowElement = thisElem.parentNode.parentNode;
        		var index = rowElement.rowIndex;
				var mod = rowElement.getAttribute("id");
				
   				var cells = rowElement.getElementsByTagName("td")
				var module = {}
				module.moduleCode = cells[0].innerHTML
				module.moduleName = cells[1].innerHTML
				module.location = cells[2].innerHTML
				module.credits = cells[3].innerHTML
				
        		host = window.location.origin
        		$.ajax({
        		   url: host + "/enroll/"+mod,
				   data: JSON.stringify( mod),
        		   method:"PUT",
        		   dateType:"JSON",
        		   success:function(result){
					console.log(result)
        		    if (result.done == false){
        		    	alert("WARNING: Already enrolled!")
        		    } else {
        		        alert("You are enrolled in module "+mod)
						addEnrollTable(module)
        		    }
        		   },
        		   error:function(xhr,status,error){
        		      console.log(error)
        		   }
        		})
      		}
// deleting entry in enrolment table in DB
			function doUnenroll(thisElem){
				var tableElement = document.getElementById('enrolledTable');
        		var rowElement = thisElem.parentNode.parentNode;
        		var index = rowElement.rowIndex;
				var mod = rowElement.getAttribute("id");
				console.log('ModuleCode ', mod)
        		// ajax deleteMod
        		host = window.location.origin
        		$.ajax({
        		   url: host + "/enrolled/"+mod,
        		   method:"DELETE",
        		   dateType:"JSON",
        		   success:function(result){
        		      console.log(result)
        		      if (result.done == false){
        		         alert("WARNING: Cannot delete module with associated student!")
        		      } else {
        		         tableElement.deleteRow(index);
        		         console.log("Unenrolled from " + mod)
        		      }
        		   },
        		   error:function(xhr,status,error){
        		      console.log(error)
        		   }
        		})
			}


			function showHome() {
         		document.getElementById('displayHome').style.display = "block"
         		document.getElementById('displayMod').style.display = "none"
         		document.getElementById('createUpdateMod').style.display = "none"
         
      		}

      		function getModFromForm(){
                var form = document.getElementById('createUpdateModForm')
                var mod = {}
                mod.moduleCode = form.querySelector('input[name="moduleCode"]').value
                mod.moduleName = form.querySelector('input[name="moduleName"]').value
                mod.location = form.querySelector('input[name="location"]').value
                mod.credits = parseInt(form.querySelector('input[name="credits"]').value)
                //console.log(mod)
                console.log('Mod code = '+mod.moduleCode)
                return mod
            }

      		function validateModForm(d){
         		// Check if any module form fields are are empty. Code adapted from
         		// https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/isNaN
         		if (d.moduleCode.length == 0 || d.moduleName.length == 0 || d.location.length == 0 || Number.isNaN(d.credits) == true ){
         		   alert("WARNING: INPUT ERROR Blank module form field submitted!")
         		   return 0
         		}
         		return 1
      		}
// getting all modules from DB
			function ready(){
				// deleay was added as otherwise there is an issue of loading two table at the same time
				var timeDelay = 1000;           // MILLISECONDS (1 SECOND).
        		setTimeout(populateModTable, timeDelay);  // MAKE THE AJAX CALL AFTER A FEW SECONDS DELAY.
				function populateModTable(){
        			// ajax getAllMod
        			host = window.location.origin
        			$.ajax({
        			   url: host + '/modules',
        			   method: 'GET',
        			   datatype: 'JSON',
        			   success: function (results) {
        			      for (mod of results) {
        			         addModtoTable(mod)
        			      }
        			   },
        			   error: function (xhr, status, error) {
        			      console.log("error " + error + " code:" + status)
        			   }
        			})
      			}
			}
			function addModtoTable(mod){
        	    // console.log("add to mod table working")
        	    var tableElem = document.getElementById('modTable')
        	    var rowElem = tableElem.insertRow(-1)
        	    rowElem.setAttribute('id', mod.moduleCode)
        	    var cell1 = rowElem.insertCell(0);
        	    cell1.innerHTML = mod.moduleCode
        	    var cell2 = rowElem.insertCell(1);
        	    cell2.innerHTML = mod.moduleName
        	    var cell3 = rowElem.insertCell(2);
        	    cell3.innerHTML = mod.location
        	    var cell4 = rowElem.insertCell(3);
        	    cell4.innerHTML = mod.credits
        	    var cell5 = rowElem.insertCell(4);
        	    cell5.innerHTML = '<button onclick="showModUpdate(this)"  type="button" class="btn btn-info">Update</button>'
        	    var cell6 = rowElem.insertCell(5);
        	    cell6.innerHTML = '<button onclick="doModDelete(this)" type="button" class="btn btn-danger">Delete</button>'
				var cell7 = rowElem.insertCell(6);
        	    cell7.innerHTML = '<button onclick="doEnroll(this)"  type="button" class="btn btn-success">Enroll</button>'
      		}
// geting modules in which current user/student is enrolled
			function populateEnrollTable(){
        		// ajax getAllMod
        		host = window.location.origin
        		$.ajax({
        		   url: host + '/enrolled',
        		   method: 'GET',
        		   datatype: 'JSON',
        		   success: function (results) {
        		      for (mod of results) {
						addEnrollTable(mod)
        		      }
        		   },
        		   error: function (xhr, status, error) {
        		      console.log("error " + error + " code:" + status)
        		   }
        		})
      		}

			function addEnrollTable(mod){
        	    // console.log("add to mod table working")
        	    var tableElem = document.getElementById('enrolledTable')
        	    var rowElem = tableElem.insertRow(-1)
        	    rowElem.setAttribute('id', mod.moduleCode)
        	    var cell1 = rowElem.insertCell(0);
        	    cell1.innerHTML = mod.moduleCode
        	    var cell2 = rowElem.insertCell(1);
        	    cell2.innerHTML = mod.moduleName
        	    var cell3 = rowElem.insertCell(2);
        	    cell3.innerHTML = mod.location
        	    var cell4 = rowElem.insertCell(3);
        	    cell4.innerHTML = mod.credits
        	    var cell5 = rowElem.insertCell(4);
        	    cell5.innerHTML = '<button onclick="doUnenroll(this)" type="button" class="btn btn-danger">Unenroll</button>'
      		}
			populateEnrollTable();

	  		ready();

		</script>
	</body>
</html>
