<!-- Registration page with form -->

<html>
	<head>
		<meta charset="UTF-8">
		<title> Register </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>			
	</head>
	<body></br></br>
		<div align="center">
		<div align="center" class="border">
			<div class="header">
				<h1 class="word">Register</h1>
			</div>
			<h2 class="word">
				<!--{% if msg %}
        			<p>{{ msg }}</p>
    			{% endif %}-->
				<form action="{{ url_for('register') }}" method="post">
				<div class="msg">{{ msg }}</div></br>
					<input id="email" name="email" type="email" placeholder="Email" class="textbox"/></br></br>
					<input id="password" name="password" type="password" placeholder="Password" class="textbox"/></br></br>
					<input id="firstname" name="firstname" type="text" placeholder="First name" class="textbox"/></br></br>
					<input id="lastname" name="lastname" type="text" placeholder="Last name" class="textbox"/></br></br>
					<input type="radio" id="male" name="gender" value="male">
					<label for="male">Male</label>&nbsp; &nbsp; &nbsp; 
					<input type="radio" id="female" name="gender" value="female">
					<label for="female">Female</label><br></br>
					<label for="birthday">Date of birth:</label>
  					<input type="date" id="dob" name="dob"></br></br>

					<input type="submit" class="btn" value="Sign Up"></br>
				</form>
			</h2>
			<p class="bottom">Already have an account? <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p>
		</div>
		</div>
	</body>
</html>
